<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>BSc in Computer Science</h1>
            <span>University of Sunderland</span>
            <span><address>Athens, Greece</address><time>2003 to 2004</time></span>
        </header>
        <p>
          
        </p>
    </article>
    <article>
        <header>
            <h1>HND in Computer Science</h1>
            <span>Highbury College</span>
            <span><address>Athens, Greece</address><time>2001 to 2003</time></span>
        </header>
        <p>
          
        </p>
    </article>
</section>
