<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Information Security & Business Continuity Analyst</h1>
            <span><address>NHBC, Milton Keynes, UK</address><time>2014 to Present</time></span>
        </header>
        <p>Providing Information Security monitoring and support through the use of appropriate tools and by promoting policy awareness. Involved in raising the profile of Information Security and Business Continuity within NHBC through relationship building and communication, including awareness training and bulletins.<p><br>
Working on updating and creating IT Security policies as required.  Identifying gaps through penetration testing and working on mitigation plans. Managing Cybersecurity incidents looking after detection,mitigation, malware analysis through Sandboxing and the use appropriate tools and documentation.  </p>
    </article>
    <article>
        <header>
            <h1>ITIL Change Manager</h1>
            <span><address>Parliamentary ICT (PICT), London, UK</address><time>2013 to 2014</time></span>
        </header>
        <p>Working within the Security Team I also undertook the role of the Interim ITIL Change Manager, reviewing RFCs, managing the Change Management function for scheduled and emergency changes and also preparing and  chairing the weekly CAB meeting.</p>
    </article>
    <article>
        <header>
            <h1>ICT Risk & Security Officer</h1>
            <span><address>Parliamentary ICT (PICT), London, UK</address><time>2011 to 2013</time></span>
        </header>
        <p>Worked within the Security Team to assist PICT in managing and further developing a sound ICT security capability to  protect Parliament’s data (information assurance)  protect Parliament’s networks and systems  and to make provision for alternative ICT capability in response to external events.</p>
    </article>
    <article>
        <header>
            <h1>Service Desk Analyst</h1>
            <span><address>Parliamentary ICT (PICT), London, UK</address><time>2009 to 2011</time></span>
        </header>
        <p>I worked in a team of 25 Service Desk Analysts who reported to their Supervisor, providing 1st and 2nd line support.<br>
Users include House of Commons members, and House of Lords members and their staff, as well as the staff of both Houses providing them assistance in the use of ICT equipment and software systems, a total of 10000 users. To ensure that equipment and systems can access the Parliamentary Network in the appropriate way.</p>

PROJECTS
- Automated Inbound E-mail Call Logging System for LanDesk
- Integrating MAC OS X in Active Directory 

    </article>
    <article>
        <header>
            <h1>Shift Supervisor / Store Manager</h1>
            <span><address>Starbucks Coffee, London, UK</address><time>2007 to 2009</time></span>
        </header>
        <p> Managed a team of 16 people and organised schedule, payroll and hiring of new staff. Provided exceptional customer service adhering to health and safety as well as food & hygiene regulations.
        </p>
    </article>
</section>
