<section class="thirteen columns">
    <h1>Profile</h1>
    <article>
        <header>
                My background has been in IT Delivery and IT Operations but I have always had an interest in IT Security.
                Currently I am focused on Cyber Security and Privacy and how it intersects with human psychology and social engineering and explore these topics on my blog called techimpossible.
                <br>
                I am also studying on becoming a Strategic Intervention Coach with Tony Robbins and Cloe Madanes and work on a seperate blog called Life Mastery Coach blog as a way to explore these skills and teachings furhter.
                
              <br><br>
              In the past few years I have developed an interest in writing and currently working on writing books on IT Security, psychology, business and health.
        
    </article>
</section>
